$primeColor: #000;
$secondColor: #fff;

html, body {
  height: 100%;
}


.list-group-item {
  margin-bottom: 5px;
  width: auto;
  display: inline-block;
  cursor: pointer;
  a {
    text-decoration: none;
  }
}

.submitWord {
  margin: 10px 0;
}

.pills {
  background: $primeColor;
  display: inline-block;
  border-radius: 10px;
}
.gigante {
  width: 500px;
  height: 300px;
}
.hidden {
  display: none;
}

#readerPanel {
  height: 500px;
  overflow-y: scroll;
}

#readerWrapper .col-xs-12 {
  margin-top: 10px;
}

#pdfReader {
  width: 100%;
  height: 100%;

}
.wordiem-highlight {
    background-color: yellow;
    padding: 3px;
    cursor: pointer;
}


.definition-container {
  display: none;
  position: absolute;
  border-radius: 3px;
  width: 50%;
  padding: 20px;
  background-color: #e2ffe2;
  color: #000;
}

.removeWordBtn {
  float: right;
  border-radius: 10px;
  height: 25px;
  width: 150px;
}
