$primeColor: #000;
$secondColor: #fff;

html, body {
  height: 100%;
  width: 100%
}


.list-group-item {
  margin-bottom: 5px;
  width: auto;
  display: inline-block;
  cursor: pointer;
  a {
    text-decoration: none;
  }
}

.submitWord {
  margin: 10px 0;
}

.pills {
  background: $primeColor;
  display: inline-block;
  border-radius: 10px;
}
.gigante {
  width: 500px;
  height: 300px;
}
.hidden {
  display: none;
}

#readerPanel {
  height: 500px;
  overflow-y: scroll;
}

#readerWrapper .col-xs-12 {
  margin-top: 10px;
}

#pdfReader {
  width: 100%;
  height: 100%;

}
.wordiem-highlight {
    background-color: yellow;
    padding: 3px;
    cursor: pointer;
}


.definition-container {
  display: none;
  position: absolute;
  border-radius: 5px;
  width: 50%;
  padding: 20px;
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: 13px 15px 72px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 13px 15px 72px -8px rgba(0,0,0,0.75);
  box-shadow: 13px 15px 72px -8px rgba(0,0,0,0.75);
}

.removeWordBtn {
  margin: 5px;
  float: right;
  // border-radius: 10px;
  // height: 25px;
  // width: 150px;
}

////////////// landing page //////////////
header {
  position: relative;
  width: 100%;
  min-height: auto;
  .header-content {
    position: relative;
    padding: 100px 15px 100px;
    width: 100%;
    .header-content-inner {
      h1 {
        position: relative;
        font-weight: 700;
        //left: 20%;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        /* SMARTPHONES PORTRAIT */
        @media only screen and (min-width: 768px) {
          left: 0;
        }

        /* SMARTPHONES LANDSCAPE */
        // @media only screen and (min-width: 480px) {
        //   left: 10%;
        // }

        /* TABLETS PORTRAIT */
        @media only screen and (min-width: 768px) {
          left: 13%;
        }
        /* TABLET LANDSCAPE / DESKTOP */
        @media only screen and (min-width: 991px) {
          left: 25%;
        }
      }
      p {
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 50px;
      }
    }
  }
}

#landingContainer {
  margin-top: 20px;
}

.header-content-inner {
  height: 500px;
}

#demo {
  text-align: center;
}

#callToAction{
  text-align: center;
}

.landing-tiles {
  display: inline-block;
  height: 25px;
  border-radius: 5px;
  background-color: #684569;
  cursor: pointer;
}

.hidden {
  display: none;
}

.down {
  cursor: pointer;
}

.ball1 {
	background: #684569;
	height: 8px;
	width: 8px;
	border-radius: 100%;
}
.ball2 {
	background: #684569;
	height: 6px;
	width: 6px;
	border-radius: 100%;
}
.ball3 {
	background: #684569;
	height: 4px;
	width: 4px;
	border-radius: 100%;
}
.spacer {
	height: 5px;
}
.arrow {
	height: 20px;
	width: 20px;
	border: 0;
	border-right: 4px solid #684569;
	border-top: 4px solid #684569;
	transform: translateY(-10px) rotate(135deg);
}
