$primeColor: #000;
$secondColor: #fff;

.container {

}
#main {

}

.userProfile {

}

.list-group-item {
  margin-bottom: 5px;
  width: auto;
  display: inline-block;
  cursor: pointer;
  a {
    text-decoration: none;
  }
}

.submitWord {
  margin: 10px 0;
}

.pills {
  background: $primeColor;
  display: inline-block;
  border-radius: 10px;
}
.gigante {
  width: 500px;
  height: 300px;
}
.hidden {
  display: none;
}
